body {
  font-family: 'Kanit', sans-serif;
  color: whitesmoke;
  background-image: url('Grey-website-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: pink; */
}

.headers {
  /* background: red; */
}

.homeNav {
  /* background: blue */
}

.homeImage {
  display: block;
  width: 50%;
  height: 50%;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px; */
}

.clientImages {
  display: block;
  width: 25%;
  height: 50%;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
